# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\parit\OneDrive\Documentos\Tareas\AAAAA-Tec de Mty\AAAA-Carrera\Servicio Social Violines por la Paz\PythonChatbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
